.CarouselItem1 {
    position: relative;
}

.textcarousel {
    position: relative;
    margin-left: 5%;
}

.textcarouselson {
    width: 80vw;
    font-size: 50px;
    position: absolute;
    margin-top: -54%;
    z-index: 15;
    color: white;
}

.textcarouselson2 {
    position: absolute;
    margin-top: -35%;
    font-size: 24px;
    color: white;
    width: 70vw; /* Corrigido para minúsculas */
}

.buttonsbanner {
    position: absolute;
    width: 800px;
    height: 200px;
    margin-top: -27%;
    z-index: 10;
}

.listbutton {
    gap: 2em; /* Corrigido para remover espaço extra */
    display: flex;
    flex-direction: row;
}

.my-carousel {
    height: 800px;
    overflow: hidden;
}

.my-carousel .carousel-item img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 948px) {
    .my-carousel {
        height: 280px;
    }

    .textcarouselson {
        font-size: 50px;
        margin-top: -70%;
    }

    .textcarouselson2 {
        font-size: 18px;
        margin-top: -28%;
    }

    .buttonsbanner {
        margin-top: -14%;
    }
}

@media (max-width: 613px) {
    .my-carousel {
        height: 280px;
    }

    .textcarouselson {
        font-size: 30px;
        margin-top: -72%;
    }

    .textcarouselson2 {
        font-size: 14px;
        margin-top: -32%;
    }

    .buttonsbanner {
        width: 400px;
        margin-left: -32px;
    }
}

.HeaderNav {
    margin-top: 150px;
}
