

.HeaderNav {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 1000px;
}

.nav {
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 255, 0);

}

.testes {
    height: 500px;
}

.nav a {
    color: rgb(26, 10, 10);
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #00000074;
}

.nav a:hover {
    color: rgb(1, 9, 14);
    text-shadow: 0 0 10px #03bcf453, 0 0 20px #03bcf46c, 0 0 40px #03bcf46a, 0 0 80px #03bcf459, 0 0 160px #03bcf483;
}

.textlist a {
    color: #5e595927;
    margin-left: 200px;
}

.CarouselItem1 {
    position: relative;

}

.textcarousel {
    position: relative;
    margin-left: 5%;
}

.textcarouselson {
    width: 80vw;
    font-size: 50px;
    position: absolute;
    margin-top: -54%;
    z-index: 15;
    color: white;
}

.textcarouselson2 {
    position: absolute;
    margin-top: -35%;
    font-size: 24px;
    color: white;
    width: 70VW;
}

.textcarouselson3 {
    font-size: 30px;
    color: white; 
}
.textcarouselson3 button {
    color: white;
    font-size: 30px;
}

.textcarouselson4 {
    font-size: 30px;
    color: #198754;
}

.textcarouselson4 button{
    color: white;
    font-size: 30px;
}
.witr_btn {
    background-color: blue;
}

.buttonsbanner {
    position: absolute;
    width: 800px;
    height: 200px;
    margin-top: -27%;
    z-index: 10;
}
.listbutton{
    gap: 2 em;
    display: flex;
    flex-direction: row;
}

.textItem1 {
    position: absolute;
    color: white;
    top: 40%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    width: 500px;
    height: 250px;
}
/*------estilos-carousel--------- */
.my-carousel {
    height: 800px;
    overflow: hidden;
}

.my-carousel .carousel-item img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 948px) {
    .my-carousel {
        height: 280px;
        /* Altura para telas menores */
    }

    .textcarousel {
        display: flex;
        flex-direction: column;
    }
    .textcarouselson {
        font-size: 50px;
        margin-top: -70%;
    }

    .textcarouselson2 {
        font-size: 18px;
        margin-top: -28%;
    }
    .buttonsbanner {
        position: absolute;
        width: 800px;
        height: 200px;
        margin-top: -14%;
        z-index: 10;
    }
}

@media (max-width: 613px) {
    .my-carousel {
        height: 280px;
        /* Altura para telas menores */
    }

    .textcarousel {
        display: flex;
        flex-direction: column;
        
    }
    .textcarouselson {
        font-size: 30px;
        margin-top: -72%;
    }

    .textcarouselson2 {
        font-size: 14px;
        margin-top: -32%;
    }
    .buttonsbanner {
        position: absolute;
        width: 400px;
        height: 200px;
        margin-top: -14%;
        margin-left: -32px;
        z-index: 10;
    }
    .top {
       height:  40px;
       font-size: 10.5px;
    }
    .textcarouselson3 button {
        color: white;
        font-size: 15px;
    }
    .textcarouselson4 button {
        color: white;
        font-size: 15px;
    }
    
}