.containerlogin {
  margin: 0 auto;
  margin-top: 200px;
  width: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #131111ce;
  border-radius: 10px;
  background-color: rgba(201, 206, 205, 0.701);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.125);
}
