.header {
  width: 100vw;
  height: 180px;
  background-color: #ffffff;
  margin-bottom: 10px;
  zoom: 1;
  transition:
    background-color 0.3s ease,
    height 0.3s ease; /* Transição suave */
}

.header.scrolled {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: -25px;
  left: 0;
  background-color: rgba(43, 41, 41, 0.8); /* Levemente transparente */
  height: 100px;
  z-index: 10; /* Posiciona sobre outros elementos */
}
.header.scrolled .menu li a {
  padding: 10px 10px 1px 10px;
  margin: 5px;
  color: rgb(8, 1, 1); /* Texto branco quando rolado */
  background-color: #dada09;
}

.header.scrolled .logoheader {
  display: none;
}

.linetop {
  display: flex;
  height: 15px;
  width: 100%;
  background-color: #0000ff;
  margin-bottom: 10px;
}

.logoandnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logoheader {
  margin-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: black;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.5s ease; /* Transição suave */
  border-radius: 5px;
}

.menu li:last-child a {
  background-color: #dada09; /* Último botão na cor amarela */
  color: #333; /* Cor do texto para o botão amarelo */
  padding: 10px 45px 10px 45px;
}

.menu li a:hover {
  background-color: #dada09; /* Cor de fundo ao passar o mouse */
  color: #555; /* Cor do texto ao passar o mouse */
}

@media (max-width: 900px) {
  .header.scrolled {
    position: fixed;
    top: -25px;
    left: 0;
    background-color: rgba(43, 41, 41, 0.8); /* Levemente transparente */
    height: 100px;
    z-index: 10; /* Posiciona sobre outros elementos */
  }
  .header.scrolled .menu li a {
    padding: 10px 10px 10px 10px;
    margin: 5px;
    color: rgb(8, 1, 1); /* Texto branco quando rolado */
    background-color: #dada09;
  }
  .logoandnav {
    flex-direction: column;
  }
  .linetop {
    display: flex;
    height: 15px;
    width: 100%;
    background-color: #0000ff;
    margin-bottom: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    margin-bottom: 10px;
  }
  .ul {
    margin-right: 100px;
  }
  .menu li:last-child a {
    background-color: yellow; /* Último botão na cor amarela */
    color: #333; /* Cor do texto para o botão amarelo */
    padding: 7px 25px 7px 25px;
  }
  .menu li a {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
  }
}
.menu li a::hover {
}
