.header {
  width: 100vw;
  height: 95px; /* Altura fixa de 95px */
  background-color: #ffffffe8;
  position: fixed; /* Fixar o menu no topo */
  top: 0;
  left: 0;
  z-index: 100; /* Garantir que o menu fique acima de outros elementos */
  transition: height 0.3s ease;
}

.scrolled {
  height:110px;
}

.linetop {
  display: flex;
  height: 15px;
  width: 100%;
  background-color: #0000ff;
}

.logoandnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  transition: height 0.3s ease;
}

.scrolled .logo {
  height: 35px; /* Logo menor quando a tela é rolada */
}

.favicon {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  color: black;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.menu li:last-child a {
  background-color: #dada09;
  color: #333;
  padding: 10px 45px;
}

.menu li a:hover {
  background-color: #dada09;
  color: #555;
}

@media (max-width: 900px) {
  .logoandnav {
    flex-direction: column;
    height: 1px;
  }

  .favicon {
    height: 30px;
    display: flex;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: white;
  }

  .menu li a {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
  }

  .menu li:last-child a {
    padding: 3px 5px;
  }

  .logo {
    height: 40px;
    transition: height 0.3s ease;
  }

  .menu {
    display: flex;
    align-items: center;
    color: black;
  }
  .menu li a:hover {
    background-color: inherit;
  }
}
