.header {
  width: 100vw;
  height: 180px;
  background-color: #ffffff;
  margin-bottom: 10px;
  zoom: 1;
}

.linetop {
  display: flex;
  height: 15px;
  width: 100%;
  background-color: #0000ff;
  margin-bottom: 10px;
}

.logoandnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logoheader {
  margin-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333; /* Cor padrão */
  transition: background-color 0.5s ease; /* Transição suave */
  border-radius: 5px;
}

.menu li:last-child a {
  background-color: yellow; /* Último botão na cor amarela */
  color: #333; /* Cor do texto para o botão amarelo */
  padding: 10px 45px 10px 45px;
}

.menu li a:hover {
  background-color: rgb(218, 218, 9); /* Cor de fundo ao passar o mouse */
  color: #555; /* Cor do texto ao passar o mouse */
}

@media (max-width: 900px) {
  .logoandnav {
    flex-direction: column;
  }
  .linetop {
    display: flex;
    height: 15px;
    width: 100%;
    background-color: #0000ff;
    margin-bottom: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    margin-bottom: 10px;
  }
  .ul {
    margin-right: 100px;
  }
  .menu li:last-child a {
    background-color: yellow; /* Último botão na cor amarela */
    color: #333; /* Cor do texto para o botão amarelo */
    padding: 7px 25px 7px 25px;
  }
  .menu li a {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
  }
}
