.background {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}